---
layout: default
title: 팡고링고 API 문서
description: 팡고링고 CMS의 다국어 기사 처리를 위한 외부 API 문서
---

<div class="content">
    {% include hero.html %}
    {% include sections/overview.html %}
    {% include sections/authentication.html %}
    {% include endpoints/get-users.html %}
    {% include endpoints/create-user.html %}
    {% include endpoints/restore-user.html %}
    {% include endpoints/update-user.html %}
    {% include endpoints/get-categories.html %}
    {% include endpoints/create-category.html %}
    {% include endpoints/create-article.html %}
    {% include endpoints/auto-translate.html %}
    {% include endpoints/translate.html %}
    {% include endpoints/translate-enhance.html %}
    {% include endpoints/get-translations.html %}
    {% include endpoints/update-translation.html %}
    {% include endpoints/delete-translation.html %}
    {% include endpoints/approve.html %}
    {% include endpoints/update-article.html %}
    {% include endpoints/cancel-publish.html %}
    {% include sections/examples.html %}
    {% include sections/errors.html %}
    {% include sections/notes.html %}
</div>
